body{box-sizing: border-box;
padding: 0;
margin: 0;
background-color: #777;
font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    border:  2px solid rgb(5, 5, 5) ;
}
.navegador{
    display: flex;
    justify-content: right;
    align-items: center;

}
.link{text-decoration: none;
color: rgb(236, 226, 220);
}
.link:hover{color: salmon;
transition-duration: 1.3s;}